/* Background color for main note editing/reading area */
.workspace-leaf-content[data-type="markdown"] .markdown-source-view,
.workspace-leaf-content[data-type="markdown"] .markdown-preview-view {
  background-color: #1b1d2c !important; /* replace with your color */
}



/* Apply background color */
.vertical-tab-header, 
.nav-folder-title,
.nav-file-title {
  background-color: #292936 !important;
}

.nav-folder-title .clickable-icon,
.nav-folder-title .clickable-icon svg,
.nav-folder-title svg {
  transition: fill 300ms ease, stroke 300ms ease, color 300ms ease !important;
}

/* default (normal) folder icon color = light black */
.nav-folder-title .clickable-icon svg,
.nav-folder-title svg {
  fill: #d49e9e!important;   /* light black-ish */
  stroke: #d49e9e !important;
  color: #d49e9e!important;
}




.nav-folder-title:hover,
.nav-file-title:hover {
  border-color: #b46fa0 !important;
  background-color: #3f0032 !important;
  cursor: pointer;
}


/* Make sure folder expand/collapse arrows are visible */
.nav-folder-collapse-indicator {
  display: inline-block !important;
  opacity: 1 !important;
  width: 16px !important;
  height: 16px !important;
}

.menu,
.modal,
.prompt,
.popover,
.dropdown,
.suggestion-container {
  color: lightblue !important;
  background-color: #1b1d2c !important;
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
}


